#business_philosophy {
  background-color: #f3ece2;
}

#business_philosophy #circle_parallax_1 img {
  padding-top: 70%;
}

#business_philosophy #circle_parallax_2 img {
  padding-top: 70%;
}

#business_philosophy #circle_parallax_3 img {
  padding-top: 70%;
}

#business_philosophy .bp_title {
  color: black;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  text-align: center;
  font-size: 72px;
  font-weight: bolder;
  line-height: 108px;
}

#business_philosophy .bp_text {
  color: white;
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 2;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  line-height: 24px;
}

#business_philosophy .business_philosophy_2 img {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 10%;
}

#business_philosophy .business_philosophy_1 img {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 10%;
}
