// 
// 經營理念
// 

@import '_style_guild';

#business_philosophy {
    background-color: $bg_color;

    #circle_parallax_1 {
        img {
            padding-top: 70%;
        }
    }

    #circle_parallax_2 {
        img {
            padding-top: 70%;
        }
    }

    #circle_parallax_3 {
        img {
            padding-top: 70%;
        }
    }

    .bp_title {
        color: black;

        position: absolute;
        top: 20%;
        left: 10%;

        z-index: 2;

        text-align: center;
        font-size: 72px;
        font-weight: bolder;
        line-height: 108px;
    }

    .bp_text {
        color: white;

        position: absolute;
        top: 60%;
        left: 30%;

        z-index: 2;

        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        line-height: 24px;
    }

    // 大圖
    // 2. 創造美好 露營回憶
    .business_philosophy_2 {
        // 檢視一下顯示範圍
        // background-color: yellow;

        img {
            margin-top: 10%;
            margin-bottom: 20%;

            margin-left: 10%;
        }
    }

    // 大圖
    // 1. 帶著家人 走進自然
    // 3. 享受自然 森林芬多精
    .business_philosophy_1 {
        // 檢視一下顯示範圍
        // background-color: red;

        img {
            margin-top: 10%;
            margin-bottom: 20%;

            margin-left: 10%;
        }
    }
}