#invisible-bar {
  width: 7%;
  min-width: 68px;
  height: 100vh;
  position: fixed;
  right: 0%;
  background-color: white;
  opacity: 0;
}

@media (max-width: 650px) {
  #invisible-bar {
    display: none;
  }
}

#invisible-bar:hover ~ .home-page .burger-box .burger-bun-top {
  background-color: orange;
}

#invisible-bar:hover ~ .home-page .burger-box .burger-bun-bot {
  background-color: orange;
}

#invisible-bar:hover ~ .home-page .burger-box .burger-filling {
  background-color: orange;
}

.home-page {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-color: #345050;
  position: relative;
  overflow: hidden;
  -webkit-animation: home-page 2s ease-out;
          animation: home-page 2s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.home-page .slider-nav {
  width: 7%;
  min-width: 68px;
  height: 100%;
  background-color: #5a5655;
  position: absolute;
  right: 0%;
  -webkit-animation: guide 2s ease-in-out;
          animation: guide 2s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home-page .slider-nav:hover {
  opacity: 1;
}

.home-page .slider-nav:hover ~ .burger-box .burger-bun-top {
  background: white;
}

.home-page .slider-nav:hover ~ .burger-box .burger-bun-bot {
  background: white;
}

.home-page .slider-nav:hover ~ .burger-box .burger-filling {
  background: white;
}

.home-page .slider-nav div {
  display: none;
}

@media (max-width: 650px) {
  .home-page .slider-nav div {
    width: 235px;
    height: 60px;
    display: block;
    color: white;
    font-size: 32px;
    line-height: 68px;
    margin: auto;
    padding: 8px 0 0 0;
    background-image: url("../img/LOGO.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }
}

@media (max-width: 650px) {
  .home-page .slider-nav {
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    opacity: 1;
    background-color: #618352;
  }
}

.home-page #white-line {
  width: 7%;
  min-width: 68px;
  height: 25px;
  position: absolute;
  right: 0%;
  border-left: 2px white solid;
}

@media (max-width: 650px) {
  .home-page #white-line {
    display: none;
  }
}

.home-page .menu-container {
  width: 100%;
  height: 100%;
  min-height: 650px;
  max-height: 1080px;
  background-color: #608D4C;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  position: fixed;
  z-index: 3;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .home-page .menu-container {
    height: calc(100% - 68px);
    min-height: unset;
  }
}

.home-page .menu-container .nav-bg {
  width: 66%;
  height: 100%;
  background-image: url("../img/menu1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .home-page .menu-container .nav-bg {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .home-page .menu-container .nav-bg {
    width: 55%;
  }
}

@media (max-width: 900px) {
  .home-page .menu-container .nav-bg {
    width: 50%;
    background-size: contain;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 800px) {
  .home-page .menu-container .nav-bg {
    width: 40%;
    margin: 0 0 0 50px;
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .nav-bg {
    display: none;
  }
}

.home-page .menu-container .menu-content {
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-page .menu-container .menu-content .menu-title {
  width: 100%;
  height: 13%;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .menu-title {
    display: none;
  }
}

.home-page .menu-container .menu-content .menu-title #title {
  width: 250px;
  height: 120px;
  margin: 50px 0 0 0;
  font-size: 36px;
  font-weight: bolder;
  background-image: url("../img/LOGO.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .menu-title #title {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .menu-title #title {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 0 0 0 45px;
  }
}

@media (max-width: 550px) {
  .home-page .menu-container .menu-content .menu-title #title {
    margin: 0 0 0 20px;
  }
}

.home-page .menu-container .menu-content .info-box {
  width: 50%;
  height: 75%;
}

.home-page .menu-container .menu-content .info-box .info {
  width: 100%;
  height: 70%;
  min-height: 350px;
  padding: 0px 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: snow;
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .info {
    min-height: 500px;
  }
}

@media (max-width: 400px) {
  .home-page .menu-container .menu-content .info-box .info {
    min-height: 430px;
  }
}

@media (max-width: 350px) {
  .home-page .menu-container .menu-content .info-box .info {
    min-height: 380px;
  }
}

.home-page .menu-container .menu-content .info-box .info div {
  width: 100px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin: 10px 0 10px 0;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .info-box .info div {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .info div {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 50px auto 0 auto;
    height: 40px;
    position: relative;
  }
}

@media (max-width: 450px) {
  .home-page .menu-container .menu-content .info-box .info div {
    height: 40px;
    margin: auto;
  }
}

.home-page .menu-container .menu-content .info-box .info div a {
  text-decoration: none;
  color: snow;
  position: absolute;
  right: 0px;
  width: 100px;
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .info {
    width: 100%;
    height: 90%;
  }
}

.home-page .menu-container .menu-content .info-box .menu-footer {
  width: 100%;
  height: 30%;
  color: snow;
}

.home-page .menu-container .menu-content .info-box .menu-footer #follow {
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
  margin: 0 0 20px 0;
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .info-box .menu-footer #follow {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .menu-footer #follow {
    display: none;
  }
}

.home-page .menu-container .menu-content .info-box .menu-footer .menu-icon-box {
  width: 150px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.home-page .menu-container .menu-content .info-box .menu-footer .menu-icon-box div:nth-child(1) {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url(../img/icon_fb.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.home-page .menu-container .menu-content .info-box .menu-footer .menu-icon-box div:nth-child(2) {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url(../img/icon_line.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .info-box .menu-footer .menu-icon-box {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .menu-footer .menu-icon-box {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: auto;
  }
}

.home-page .menu-container .menu-content .info-box .menu-footer #copyright {
  width: 130px;
  height: 15px;
  /* border: white 1px solid; */
  font-size: 12px;
  margin: 20px 0 0 0;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

@media (max-width: 700px) {
  .home-page .menu-container .menu-content .info-box .menu-footer #copyright {
    -webkit-transform: translateX(45px);
            transform: translateX(45px);
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .menu-footer #copyright {
    display: none;
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box .menu-footer {
    min-height: unset;
    height: calc(100vh - 630px);
    min-height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .info-box {
    height: 70%;
    width: 100%;
    min-height: 396px;
    border-top: 1px solid white;
  }
}

.home-page .menu-container .menu-content .menu-drawing {
  width: 48%;
  height: 75%;
  background-image: url("../img/menu_pic.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content .menu-drawing {
    display: none;
  }
}

@media (max-width: 1200px) {
  .home-page .menu-container .menu-content {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .home-page .menu-container .menu-content {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .home-page .menu-container .menu-content {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .home-page .menu-container .menu-content {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .home-page .menu-container .menu-content {
    width: 100%;
    display: block;
    min-width: 320px;
  }
}

@media (max-width: 650px) {
  .home-page .menu-container {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .home-page {
    min-height: unset;
    min-width: 320px;
  }
}

@-webkit-keyframes home-page {
  0% {
    background-color: whitesmoke;
  }
  99% {
    background-color: whitesmoke;
  }
}

@keyframes home-page {
  0% {
    background-color: whitesmoke;
  }
  99% {
    background-color: whitesmoke;
  }
}

.menu-container.act {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

@media (max-width: 650px) {
  .menu-container.act {
    -webkit-transform: translateY(68px);
            transform: translateY(68px);
    opacity: 1;
  }
}

.slider-nav.opacity {
  opacity: 1;
}

@-webkit-keyframes guide {
  0% {
    top: -100%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}

@keyframes guide {
  0% {
    top: -100%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}

@-webkit-keyframes burger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes burger {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h4 {
  font-family: arial,helvetica,serif;
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 40px 0 0;
}

.burger-box {
  width: 7%;
  min-width: 68px;
  height: 20%;
  position: absolute;
  right: 0%;
  position: fixed;
  z-index: 4;
}

.burger-box:hover .burger-bun-bot {
  background-color: white;
}

.burger-box:hover .burger-bun-top {
  background-color: white;
}

.burger-box:hover .burger-filling {
  background-color: white;
}

.burger-box:hover .burger-bun-bot.black {
  background-color: orange;
}

.burger-box:hover .burger-bun-top.black {
  background-color: orange;
}

.burger-box:hover .burger-filling.black {
  background-color: orange;
}

@media (max-width: 650px) {
  .burger-box {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
  }
  .burger-box:hover .burger-bun-bot {
    background-color: white;
  }
  .burger-box:hover .burger-bun-top {
    background: white;
  }
  .burger-box:hover .burger-filling {
    background: white;
  }
}

.burger-box .hamburglar {
  width: 68px;
  height: 50%;
  margin: 40px auto;
  -webkit-animation: burger 2s linear forwards;
          animation: burger 2s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  z-index: 5;
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 650px) {
  .burger-box .hamburglar {
    margin: 0;
  }
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
          mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  color: none;
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: black;
}

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
          animation: dash-in 0.6s linear normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal;
          animation: rotate-in 0.6s linear normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal;
          animation: dash-out 0.6s linear normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal;
          animation: rotate-out 0.6s linear normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}

.burger-icon {
  padding: 20px 16px;
  height: 68px;
  width: 68px;
  margin: auto;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #f0ffff;
  margin: auto;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
}

.burger-bun-top.black {
  background: black;
}

.burger-bun-bot.black {
  background: black;
}

.burger-filling.black {
  background: black;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  right: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
  color: black;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
          animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
          animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
          animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
          animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #f0ffff;
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #f0ffff;
  }
}

@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #f0ffff;
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #f0ffff;
  }
}

.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
          animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
          animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
